<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.dao.FavoriteMapper">


<insert id="insertFavorite">
    insert into favorite(userid, favoritepath, favoritetype, favoritetime)
    value (#{userid},#{favoritepath},#{favoritetype},now())
</insert>
    <select id="selectAll" resultType="com.example.demo1.entity.Favorite">
        select * from favorite
    </select>
    <delete id="deleteFavorite">
        delete from favorite where userid=#{userid} and favoritepath=#{path}
    </delete>

    <select id="selectFavoriteByPath" resultType="com.example.demo1.entity.Favorite">
        select * from favorite where userid=#{userid} and favoritepath=#{path}
    </select>
</mapper>