<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jaign.filemanage.dao.FolderPasswordMapper">

    <insert id="insert">
        insert into folder_password(userid, folderpath, folderpassword)
            value (#{userid}, #{folderpath}, #{folderpassword})
    </insert>
    <select id="selectAll" resultType="xyz.jaign.filemanage.entity.FolderPassword">
        select *
        from folder_password
        where userid = #{userid}
    </select>
    <select id="selectByFolder" resultType="xyz.jaign.filemanage.entity.FolderPassword">
        select *
        from folder_password
        where userid = #{userid}
          and folderpath = #{folder}
    </select>
    <update id="update">
        update folder_password
        set folderpassword=#{folderpassword},
            status=#{status}
        where userid = #{userid}
          and folderpath = #{folderpath}
    </update>
    <delete id="delete">
        delete from folder_password where userid=#{userid} and folderpath=#{folder}
    </delete>
</mapper>