<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jaign.filemanage.dao.SysConfigMapper">

    <select id="selectSysConfigAll" resultType="xyz.jaign.filemanage.entity.SysConfig">
        select *
        from sys_config
    </select>

    <select id="selectSysConfigByKey" resultType="xyz.jaign.filemanage.entity.SysConfig">
        select *
        from sys_config
        where configkey = #{key}
    </select>

    <update id="updateConfig">
        update sys_config
        set configvalue = #{configvalue}
        where id = #{id}
          and configkey = #{configkey}
    </update>

</mapper>