<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.dao.TaskMapper">

    <select id="selectAll" resultType="com.example.demo1.entity.Task">
        select * from task
    </select>

    <select id="selectTaskByID" resultType="com.example.demo1.entity.Task">
        select * from task where taskid=#{taskid}
    </select>

    <insert id="insertTask">
        insert into task(taskid, taskname, cron, folder, regfile, opt, targetpath)
        value (#{taskid},#{taskname},#{cron},#{folder},#{regfile},#{opt},#{targetpath})
    </insert>

    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from task;
    </select>

    <delete id="deleteTaskByID">
        delete from task where taskid=#{taskid}
    </delete>

</mapper>